body{
    height: 100vh;
    width: 100vw;
    background-image: url("/images/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    box-shadow: 2px 2px 12px gray;
}